{% extends 'base.html' %}

{% block top_menu %}
    <div id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a  style="background-color: #EEE;" href="/">Частным клиентам</a></li>
              <li><a href="/">Для Бизнеса</a></li>
              <li><a href="/about">О компании</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="tel:+78124485323" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+7 (812) 4485323</span></a></li>
              <li><a href="mailto:info@zextel.ru" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zextel.ru</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </div>
{% endblock %}<!-- #конец top_menu-->


<!-- Header
    ============================================= -->
{% block header_menu %}
    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark.png" alt="Canvas Logo"></a>
            <a href="/" class="retina-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="style-4">
            <ul>
              <li><a href="/"><div>Интернет</div></a></li>
              <li><a href="/tv"><div>Цифровое ТВ+</div></a></li>
              <li><a href="/connect"><div>Подключиться</div></a></li>
              <li><a href="/stock"><div>Предложения</div></a></li>
              <li class="current"><a href="/payment"><div>Оплата</div></a></li>
              <li><a href="http://stat.zextel.ru/" target="_blank"><div>Личный кабинет</div></a></li>
            </ul>
           </nav><!-- #primary-menu end -->

        </div>
      </div>
    </header>
{% endblock %}<!-- #конец header_menu-->

<!-- Блок название страницы
    ============================================= -->

{% block page_title %}
  <section id="page-title">
  	<div class="container clearfix">
  		<h1>Оплата Банковской картой</h1>
   		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a href="/">Главная</a></li>
  			<li class="breadcrumb-item"><a href="/payment">Оплата</a></li>
        <li class="breadcrumb-item active" aria-current="page">Банковской картой</li>
  		</ol>
  	</div>
  </section>
{% endblock %}<!-- #конец блока название страниц-->

<!-- Блок контент
	============================================= -->
{% block content %}
<div class="container clearfix">
    <div class="col_half">
      <div class="fancy-title title-dotted-border">
        <h3>Пополнение БАНКОВСКОЙ КАРТОЙ</h3>
      </div>
      <div class="leftmargin-sm">
        <div class="form-widget">
          <div class="row">
            <form  class="row" action="{% url 'main:cards_payment_url' %}" method="POST">
              {% csrf_token %}
              <div class="col-12 form-group">
                <label>Номер договора:</label>
                {{ form.uid }}
              </div>
              <div class="col-12 form-group">
                <label>Сумма:</label>
                {{ form.summ }}
              </div>
              <div class="col-12">
										<button type="submit" class="btn btn-secondary">Оплатить</button>
							</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col_half col_last">
      <div class="fancy-title title-dotted-border">
        <h3>Информация</h3>
      </div>
        <p>Для облаты банковской картой введите в соотвествующие поля с лева <br /> "Номер договора" и "Cумму" на которую Вы хотите пополнить.</p>
        <p>Номер договора состоит из 4 цифр, если в Ваш номер договора 346 то вводить необходимо 0346 </p>
        <h5>Уважаемы абоненты будте внимательны при вводе номера договора.</h5>
    </div>
  </div>

{% endblock %}<!-- Конец блока контент-->

{% block zona_oh %}  <!-- Зона охвата сети -->

{% endblock %}
