{% extends 'base.html' %}

    <!-- Блок Верхнее меню
    ============================================= -->
{% block top_menu %}
    <div id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a style="background-color: #EEE;" href="/">Частным клиентам</a></li>
              <li><a href="/">Для Бизнеса</a></li>
              <li><a href="/about">О компании</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="tel:+78124485323" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+7 (812) 4485323</span></a></li>
              <li><a href="mailto:info@zextel.ru" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zextel.ru</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </div>
{% endblock %}<!-- #конец top_menu-->

<!-- Header
    ============================================= -->
{% block header_menu %}
    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark.png" alt="Canvas Logo"></a>
            <a href="/" class="retina-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="style-4">
            <ul>
              <li class="current"><a href="/"><div>Интернет</div></a></li>
              <li><a href="#"><div>Цифровое ТВ+</div></a></li>
              <li><a href="#"><div>Подключиться</div></a></li>
              <li><a href="#"><div>Предожения</div></a></li>
              <li><a href="#"><div>Оплата</div></a></li>
              <li><a href="#"><div>Личный кабинет</div></a></li>
            </ul>
           </nav><!-- #primary-menu end -->

        </div>
      </div>
    </header>
{% endblock %}<!-- #конец header_menu-->

{% block slider %}
    <section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" data-autoplay="6000">
      <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
          <div class="swiper-wrapper">
          	{% for i in sliders_show %}
				      {{ i.sl_text|safe}}
			      {% endfor %}
          </div>
          <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
          <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
          <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
        </div>
      </div>
    </section>
{% endblock %}

<!-- Блок ввода адреса
    ============================================= -->
{% block dadata %}
        <div class="promo promo-light promo-full bottommargin-sm header-stick notopborder">
          <div class="container clearfix">
            <form id="widget-subscribe-form2" action="include/subscribe.php" method="post" class="nobottommargin">
              <div class="input-group divcenter">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-line2-home"></i></div>
                  </div>
                <input id="address" type="text" name="widget-subscribe-form-email" class="form-control required email" placeholder="Введите начальные буквы своей улицы">
                <div class="input-group-append">
                  <button class="btn btn-outline-dark" type="submit">Подключиться</button>
                </div>
              </div>
            </form>
          </div>
        </div>
{% endblock %}<!-- #конец блока слайдера-->

<!-- Блок тарифы
    ============================================= -->
{% block main_tariff %}
      <div class="fancy-title title-dotted-border title-center"><h3>Наши тарифы</h3></div>
        <div class="container clearfix">
          <div class="tabs tabs-bb clearfix" id="tab-9">
            <ul class="tab-nav clearfix">
              <li><a href="#tabs-1">г. ВСЕВОЛОЖСК</a></li>
              <li><a href="#tabs-10">п. РОМАНОВКА</a></li>
              <li><a href="#tabs-11">п. ЩЕГЛОВО</a></li>
              <li><a href="#tabs-12">п. РАХЬЯ</a></li>
            </ul>
            <div class="tab-content clearfix" id="tabs-1">
              <div class="tab-container">
                <div class="fancy-title title-bottom-border title-center">
                  <h3><span>Тарифы для загородного дома</span></h3>
                </div>
                  <div id="section-pricing" class="page-section nopadding nomargin">
                    <div id="pricing-switch" class="pricing row bottommargin-lg clearfix">
                      <div class="col-lg-4 col-md-6">
                        <div class="pricing-box">
                          <div class="pricing-title">
                            <div><h3>ZO-mini</h3></div>
                          </div>
                          <div class="pricing-price">
                            <div><span class="price-unit">&#8381;</span>1150<span class="price-tenure">/мес.</span></div>
                          </div>
                          <div class="pricing-features">
                              <ul>
                                <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                                <div><li><strong>50</strong> мбит/сек.</li></div>
                                <li><strong>Скидка 10%</strong> при оплате за год</li>
                                <li>Поддержка 24/7</li>
                                <li><i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star-half-full"></i>
                                <i class="icon-star-empty"></i>
                                <i class="icon-star-empty"></i></li>
                              </ul>
                          </div>
                          <div class="pricing-action">
                            <div><a href="#" class="button button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a></div>
                          </div>
                        </div>
                      </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="pricing-box best-price">
                            <div class="pricing-title">
                              <div><h3>ZO-standart</h3></div>
                              <span>Популярный</span>
                            </div>
                            <div class="pricing-price">
                              <div ><span class="price-unit">&#8381;</span>1350<span class="price-tenure">/мес.</span></div>
                            </div>
                            <div class="pricing-features">
                              <ul>
                                <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                                <div><li><strong>70</strong> мбит/сек.</li></div>
                                <li><strong>Скидка 10%</strong> при оплате за год</li>
                                <li>Поддержка 24/7</li>
                                <li><i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star-half-full"></i>
                                <i class="icon-star-empty"></i></li>
                              </ul>
                            </div>
                            <div class="pricing-action">
                              <div><a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">
                          <div class="pricing-box">
                            <div class="pricing-title">
                              <div><h3>ZO-maxi</h3></div>
                            </div>
                            <div class="pricing-price">
                              <div><span class="price-unit">&#8381;</span>1550<span class="price-tenure">/мес.</span></div>
                            </div>
                            <div class="pricing-features">
                              <ul>
                                <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                                <div><li><strong>100</strong> мбит/сек.</li></div>
                                <li><strong>Скидка 10%</strong> при оплате за год</li>
                                <li>Поддержка 24/7</li>
                                <li><i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i></li>
                              </ul>
                            </div>
                            <div class="pricing-action">
                              <div><a href="#" class="button button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="fancy-title title-bottom-border title-center">
                  <h3><span>Тарифы для многоквартирных домов</span></h3>
                </div>
                <div class="row pricing bottommargin clearfix">
                  <div class="col-lg-3">
                    <div class="pricing-box">
                      <div class="pricing-title">
                        <h3>Z-450</h3>
                      </div>
                      <div class="pricing-price">
                        <div><span class="price-unit">&#8381;</span>500<span class="price-tenure">/мес.</span></div>
                      </div>
                      <div class="pricing-features">
                        <ul>
                          <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                            <div><li><strong>10</strong> мбит/сек.</li></div>
                            <li><strong>Скидка 10%</strong> при оплате за год</li>
                            <li>Поддержка 24/7</li>
                            <li><i class="icon-star-half-full"></i>
                            <i class="icon-star-empty"></i>
                            <i class="icon-star-empty"></i>
                            <i class="icon-star-empty"></i>
                            <i class="icon-star-empty"></i></li>
                        </ul>
                      </div>
                      <div class="pricing-action">
                        <a href="#" class="button button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="pricing-box">
                      <div class="pricing-title">
                        <h3>Z-500</h3>
                      </div>
                      <div class="pricing-price">
                        <span class="price-unit">&#8381;</span>550<span class="price-tenure">/мес.</span>
                      </div>
                      <div class="pricing-features">
                        <ul>
                          <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                            <div><li><strong>30</strong> мбит/сек.</li></div>
                            <li><strong>Скидка 10%</strong> при оплате за год</li>
                            <li>Поддержка 24/7</li>
                            <li><i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-half-full"></i>
                            <i class="icon-star-empty"></i>
                            <i class="icon-star-empty"></i></li>
                        </ul>
                      </div>
                      <div class="pricing-action">
                        <a href="#" class="button button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="pricing-box best-price">
                      <div class="pricing-title">
                        <h3>Z-600</h3>
                        <span>Популярный</span>
                      </div>
                      <div class="pricing-price">
                        <span class="price-unit">&#8381;</span>660<span class="price-tenure">/мес.</span>
                      </div>
                      <div class="pricing-features">
                        <ul>
                          <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                          <div><li><strong>50</strong> мбит/сек.</li></div>
                          <li><strong>Скидка 10%</strong> при оплате за год</li>
                          <li>Поддержка 24/7</li>
                          <li><i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star-half-full"></i>
                          <i class="icon-star-empty"></i></li>
                        </ul>
                      </div>
                      <div class="pricing-action">
                        <a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3">
                    <div class="pricing-box">
                      <div class="pricing-title">
                        <h3>Z-800</h3>
                      </div>
                    <div class="pricing-price">
                      <span class="price-unit">&#8381;</span>900<span class="price-tenure">/мес.</span>
                    </div>
                    <div class="pricing-features">
                      <ul>
                        <li>ПОЛНЫЙ БЕЗЛИМИТ</li>
                          <div><li><strong>100</strong> мбит/сек.</li></div>
                          <li><strong>Скидка 10%</strong> при оплате за год</li>
                          <li>Поддержка 24/7</li>
                          <li><i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i></li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                      <a href="#" class="button button-rounded capitalize ls0" style="border-radius: 23px;">Подключиться</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content clearfix" id="tabs-10">

            </div>
            <div class="tab-content clearfix" id="tabs-11">
              <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            </div>
            <div class="tab-content clearfix" id="tabs-12">
              <p>Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            </div>
          </div>
        </div>
{% endblock %}<!-- Конец блока тарифы -->

<!-- Блок новости
============================================= -->
{% block news_5 %}
        <div class="fancy-title title-dotted-border title-center">
            <h3>Новости</h3>
        </div>
        <div class="container clearfix">
          <div id="oc-fbox" class="owl-carousel fbox-carousel carousel-widget" data-margin="20" data-rewind="True" data-pagi="True" data-loop="True" data-items-xs="1" data-items-md="2" data-items-xl="3">
            {% for a in news_list %}
              <div class="oc-item">
                <div class="card events-meta">
                  <div class="card-header"><h5 class="mb-0"><i class="icon-calendar3"></i>  {{ a.pub_date }}</h5></div>
                  <div class="card-body">
                      <h5>{{ a.new_title }}</h5>
                      <div>{{ a.new_title_text|safe }}</div>
                  </div>
                    <a href="{% url 'about:detail' a.id %}" class="btn btn-light"><span>Подробнее</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}<!-- Конец блока новости-->
