{% extends 'base.html' %}

{% block slider %}
    <section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" data-loop="true" data-autoplay="6000">
      <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
          <div class="swiper-wrapper">
          	{% for i in sliders_show %}
				{{ i.sl_text|safe}}
			{% endfor %}
          </div>
          <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
          <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
          <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
        </div>
      </div>
    </section>
{% endblock %}