{% extends 'base.html' %}

{% block top_menu %}
    <div id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a style="background-color: #EEE;" href="/">Частным клиентам</a></li>
              <li><a href="/">Для Бизнеса</a></li>
              <li><a href="/about">О компании</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="tel:+78124485323" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+7 (812) 4485323</span></a></li>
              <li><a href="mailto:info@zextel.ru" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zextel.ru</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </div>
{% endblock %}<!-- #конец top_menu-->


<!-- Header
    ============================================= -->
{% block header_menu %}
<header id="header" class="full-header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark.png" alt="Canvas Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="style-4">
        <ul>
          <li><a href="/"><div>Интернет</div></a></li>
          <li class="current"><a href="/tv"><div>Цифровое ТВ</div></a></li>
          <li><a href="/connect"><div>Подключиться</div></a></li>
          <li><a href="/stock"><div>Предожения</div></a></li>
          <li><a href="/payment"><div>Оплата</div></a></li>
          <li><a href="http://stat.zextel.ru/" target="_blank"><div>Личный кабинет</div></a></li>
        </ul>
       </nav><!-- #primary-menu end -->
    </div>
  </div>
</header>
{% endblock %}<!-- #конец header_menu-->

<!-- Блок название страницы
    ============================================= -->

{% block page_title %}
  <section id="page-title">
  	<div class="container clearfix">
  		<h1>100 каналов</h1>
   		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a href="/">Главная</a></li>
  			<li class="breadcrumb-item active"><a href="/tv">Цифровое ТВ</a></li>
        <li class="breadcrumb-item active" aria-current="page">100 каналов</li>
  		</ol>
  	</div>
  </section>
{% endblock %}<!-- #конец блока название страниц-->

<!-- Блок контент
	============================================= -->
{% block content %}

  <div class="container clearfix">

    <div class="row nopadding align-items-stretch ohidden">
			<div class="col-lg-6 col-padding" style="background: url('https://slimexpert.github.io/zextel/static/images/tv-1.png') center center no-repeat; background-size: cover;">
						<div>&nbsp;</div>
		</div>
					<div class="col-lg-6 col-padding">
						<div>
							<h3>100 каналов бесплатно на всех тарифах</h3>
							<div class="row">
								<div class="col-md-9 nopadding topmargin-sm clearfix">
                  <div class="feature-box fbox-outline fbox-border fbox-dark fbox-effect noborder">
                    <div class="fbox-icon">
                      <a href="/connect/"><i class="icon-line2-action-redo i-alt"></i></a>
                        </div>
                        <h3>Подайте заявку!</h3>
                        <p>По телефону +7(812) 4485323 и смотри бесплатно 100 каналов</p>
                  </div>
                  <div class="feature-box fbox-outline fbox-border fbox-dark fbox-effect noborder">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-line-eye i-alt"></i></a>
                        </div>
                        <h3>Смотри на любом устройстве!</h3>
                        <p>Загружай приложение TVIP media и смотри ТВ-контент в HD качестве на большом экране</p>
                  </div>
                  <div class="feature-box fbox-outline fbox-border fbox-dark fbox-effect noborder">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-line-layers i-alt"></i></a>
                        </div>
                        <h3>Пауза, перемотка и отложенный просмотр</h3>
                        <p>Пауза поможет приостановить передачу, а перемотка вернёт к нужному моменту.</p>
                  </div>
								</div>
							</div>
						</div>

					</div>
		</div>


<br /><br />
</div>

{% endblock %}<!-- Конец блока контент-->

{% block bth_connect %}  <!-- Кнопка подключиться -->
  <a href="/connect" class="button button-full center tright footer-stick">
    <div class="container clearfix">
        <strong>ОСТАВИТЬ ЗАЯВКУ НА ПОДКЛЮЧЕНИЕ</strong> <i class="icon-caret-right" style="top:4px;"></i>
    </div>
  </a>
{% endblock %}


{% block zona_oh %}  <!-- Зона охвата сети -->

{% endblock %}
