<!DOCTYPE html>
<html dir="ltr" lang="ru">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="zextel" />

  <!-- Stylesheets zextel/static/css/bootstrap.css
  ============================================= -->
  <!--<link href="https://fonts.googleapis.com/css?family=Play:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/style.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/swiper.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/colors.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/components/bs-switches.css" type="text/css" />

  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.1.1/dist/css/suggestions.min.css" rel="stylesheet" />

  <script src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=382328aa-6e1b-40ca-936e-1d474fd951bc" type="text/javascript"></script>
  <script src="https://slimexpert.github.io/zextel/static/js/zextel_map.js" type="text/javascript"></script>

  <!-- jQuery Mask Plugin -->


  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Document Title
  ============================================= -->
  <title>Загородный интернет – подключение интернет по оптике в коттедже, частном секторе, загородном доме</title>
  <meta name="description" content="Подключение высокоскоростного интернета по выделенным оптическим линиям в Ленинградской области.
Высококачественный интернет во Всеволожске, Романовке , Щеглово, Рахья и других населенных пунктах, коттеджных поселках, частных секторах и на дачах.">
  <meta name="keywords" content="Интернет, оптика во всеволожске, оптика, быстрый интернет, подключение во всеволожске">
</head>

<body class="stretched">

<style type="text/css">
#map {
  filter: brightness(50%);
  -ms-filter: brightness(50%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
}
</style>

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Блок Верхнее меню
    ============================================= -->
{% block top_menu %}
    <div id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a href="/">Частным клиентам</a></li>
              <li><a href="/business">Для Бизнеса</a></li>
              <li><a style="background-color: #EEE;" href="/about">О компании</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="tel:+78124485323" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+7 (812) 4485323</span></a></li>
              <li><a href="mailto:info@zextel.ru" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zextel.ru</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </div>
{% endblock %}<!-- #конец top_menu-->

<!-- Header
    ============================================= -->
{% block header_menu %}
    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark.png" alt="Canvas Logo"></a>
            <a href="/" class="retina-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="style-4">
            <ul>
              <li><a href="/about"><div>О компании</div></a></li>
              <li class="current"><a href="/about/news"><div>Новости</div></a></li>
              <li><a href="/about/docs"><div>Документы</div></a></li>
              <li><a href="/about/contact"><div>Контакты</div></a></li>
            </ul>
           </nav><!-- #primary-menu end -->

        </div>
      </div>
    </header>
{% endblock %}<!-- #конец header_menu-->

    <!-- Блок слайдер
    ============================================= -->
    {% block slider %}
    {% endblock %}<!-- #конец блока слайдера-->

<!-- Блок название страницы
    ============================================= -->
    {% block page_title %}
    {% endblock %}<!-- #конец блока название страницы-->

    <!-- Начало страницы контента
    ============================================= -->
    <section id="content">
      <div class="content-wrap">

      <!-- Блок ввода адреса
      ============================================= -->
      {% block dadata %}
      {% endblock %}<!-- #конец блока слайдера-->

      <!-- Блок ввода адреса
      ============================================= -->
      {% block main_tariff %}
      {% endblock %}<!-- Конец блока тарифы -->

      <!-- Блок контент
      ============================================= -->
      {% block content %}
      {% endblock %}<!-- Конец блока контент-->

      <!-- Блок новости
      ============================================= -->
      {% block news_5 %}
      {% endblock %}<!-- Конец блока новости-->

      {% block zona_oh %}  <!-- Зона охвата сети -->
        <div class="fancy-title title-dotted-border title-center">
            <h3>Зона охвата сети ZEXTEL</h3>
        </div>
        <div id="map" style="height: 350px;margin-bottom: 20px;position: relative;overflow: hidden;" ></div>
        <!-- Конец Зона охвата сети -->
      {% endblock %}

      {% block bth_connect %}  <!-- Кнопка подключиться -->
        <a href="/connect" class="button button-full center tright footer-stick">
          <div class="container clearfix">
              <strong>ОСТАВИТЬ ЗАЯВКУ НА ПОДКЛЮЧЕНИЕ</strong> <i class="icon-caret-right" style="top:4px;"></i>
          </div>
        </a>
      {% endblock %}
      </div>
    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_third">

            <div class="col_one_third">

              <div class="widget clearfix">

                <img src="https://slimexpert.github.io/zextel/static/images/footer-widget-logo.png" alt="" class="footer-logo">

                <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

                <div style="background: url('https://slimexpert.github.io/zextel/static/images/world-map.png') no-repeat center center; background-size: 100%;">
                  <address>
                    <strong>Headquarters:</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                  </address>
                  <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                  <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                  <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                </div>

              </div>

            </div>

            <div class="col_one_third">

              <div class="widget widget_links clearfix">

                <h4>Blogroll</h4>

                <ul>
                  <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                  <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                  <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                  <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                  <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                  <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                  <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                </ul>

              </div>

            </div>

            <div class="col_one_third col_last">

              <div class="widget clearfix">
                <h4>Recent Posts</h4>

                <div id="post-list-footer">
                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-lg-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Total Downloads</h5>
                </div>

                <div class="col-lg-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Clients</h5>
                </div>

              </div>

            </div>

            <div class="widget subscribe-widget clearfix">
              <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
              <div class="widget-subscribe-form-result"></div>
              <form id="widget-subscribe-form" action="https://slimexpert.github.io/zextel/static/include/subscribe.php" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-email2"></i></div>
                  </div>
                  <input type="text" id="widget-subscribe-form-email" name="adress" class="form-control required email" placeholder="Enter your Email">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-lg-6 clearfix bottommargin-sm">
                  <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
                </div>
                <div class="col-lg-6 clearfix">
                  <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                    <i class="icon-rss"></i>
                    <i class="icon-rss"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                </div>

              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
            <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-vimeo">
                <i class="icon-vimeo"></i>
                <i class="icon-vimeo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-yahoo">
                <i class="icon-yahoo"></i>
                <i class="icon-yahoo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>

            <div class="clear"></div>

            <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
  =============================================-->
  <script src="https://slimexpert.github.io/zextel/static/js/jquery.js"></script>
  <script src="https://slimexpert.github.io/zextel/static/js/plugins.js"></script>

  <!--Footer Scripts
  =============================================-->
  <script src="https://slimexpert.github.io/zextel/static/js/functions.js"></script>

<!-- Скрипт Dadata.ru-->
  <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.1.1/dist/js/jquery.suggestions.min.js"></script>
    <script>
      $("#address").suggestions({
        token: "db4016c650f3e48961a5039edf12415e244a9136",
        type: "ADDRESS",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
          console.log(suggestion);
        }
      });
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
   <script>
    $(function() {
      $('.jmp').mask('+7(000)000-00-00');
    });
   </script>

</body>
</html>
