<!DOCTYPE html>
<html dir="ltr" lang="ru">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="zextel" />

  <!-- Stylesheets zextel/static/css/bootstrap.css
  ============================================= -->
  <!--<link href="https://fonts.googleapis.com/css?family=Play:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/style.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/swiper.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/colors.css" type="text/css" />
  <link rel="stylesheet" href="https://slimexpert.github.io/zextel/static/css/components/bs-switches.css" type="text/css" />

  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.1.1/dist/css/suggestions.min.css" rel="stylesheet" />

  <script src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=382328aa-6e1b-40ca-936e-1d474fd951bc" type="text/javascript"></script>
  <script src="https://slimexpert.github.io/zextel/static/js/zextel_map.js" type="text/javascript"></script>

  <!-- jQuery Mask Plugin -->


  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Document Title
  ============================================= -->
  <title>Загородный интернет – подключение интернет по оптике в коттедже, частном секторе, загородном доме</title>
  <meta name="description" content="Подключение высокоскоростного интернета по выделенным оптическим линиям в Ленинградской области.
Высококачественный интернет во Всеволожске, Романовке , Щеглово, Рахья и других населенных пунктах, коттеджных поселках, частных секторах и на дачах.">
  <meta name="keywords" content="Интернет, оптика во всеволожске, оптика, быстрый интернет, подключение во всеволожске">
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(29415770, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/29415770" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body class="stretched">

<style type="text/css">
#map {
  filter: brightness(50%);
  -ms-filter: brightness(50%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
}
</style>

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Блок Верхнее меню
    ============================================= -->
{% block top_menu %}
    <div id="top-bar">
      <div class="container clearfix">
        <div class="col_half nobottommargin">
          <!-- Top Links
          ============================================= -->
          <div class="top-links">
            <ul>
              <li><a href="/">Частным клиентам</a></li>
              <li><a href="/business">Для Бизнеса</a></li>
              <li><a style="background-color: #EEE;" href="/about">О компании</a></li>
              <li><a href="/contact">Контакты</a></li>
            </ul>
          </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
          <!-- Top Social
          ============================================= -->
          <div id="top-social">
            <ul>
              <li><a href="tel:+78124485323" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+7 (812) 4485323</span></a></li>
              <li><a href="mailto:info@zextel.ru" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@zextel.ru</span></a></li>
            </ul>
          </div><!-- #top-social end -->
        </div>
      </div>
    </div>
{% endblock %}<!-- #конец top_menu-->

<!-- Header
    ============================================= -->
{% block header_menu %}
    <header id="header" class="full-header">
      <div id="header-wrap">
        <div class="container clearfix">
          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark.png" alt="Canvas Logo"></a>
            <a href="/" class="retina-logo" data-dark-logo="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png"><img src="https://slimexpert.github.io/zextel/static/images/logo-dark@2x.png" alt="Canvas Logo"></a>
          </div><!-- #logo end -->

          <!-- Primary Navigation
          ============================================= -->
          <nav id="primary-menu" class="style-4">
            <ul>
              <li><a href="/about"><div>О компании</div></a></li>
              <li class="current"><a href="/about/news"><div>Новости</div></a></li>
              <li><a href="/about/docs"><div>Документы</div></a></li>
              <li><a href="/about/contact"><div>Контакты</div></a></li>
            </ul>
           </nav><!-- #primary-menu end -->

        </div>
      </div>
    </header>
{% endblock %}<!-- #конец header_menu-->

    <!-- Блок слайдер
    ============================================= -->
    {% block slider %}
    {% endblock %}<!-- #конец блока слайдера-->

<!-- Блок название страницы
    ============================================= -->
    {% block page_title %}
    {% endblock %}<!-- #конец блока название страницы-->

    <!-- Начало страницы контента
    ============================================= -->
    <section id="content">
      <div class="content-wrap">

      <!-- Блок ввода адреса
      ============================================= -->
      {% block dadata %}
      {% endblock %}<!-- #конец блока слайдера-->

      <!-- Блок ввода адреса
      ============================================= -->
      {% block main_tariff %}
      {% endblock %}<!-- Конец блока тарифы -->

      <!-- Блок контент
      ============================================= -->
      {% block content %}
      {% endblock %}<!-- Конец блока контент-->

      <!-- Блок новости
      ============================================= -->
      {% block news_5 %}
      {% endblock %}<!-- Конец блока новости-->

      {% block zona_oh %}  <!-- Зона охвата сети -->
        <div class="fancy-title title-dotted-border title-center">
            <h3>Зона охвата сети ZEXTEL</h3>
        </div>
        <div id="map" style="height: 350px;margin-bottom: 20px;position: relative;overflow: hidden;" ></div>
        <!-- Конец Зона охвата сети -->
      {% endblock %}

      {% block bth_connect %}  <!-- Кнопка подключиться -->
        <a href="/connect" class="button button-full center tright footer-stick">
          <div class="container clearfix">
              <strong>ОСТАВИТЬ ЗАЯВКУ НА ПОДКЛЮЧЕНИЕ</strong> <i class="icon-caret-right" style="top:4px;"></i>
          </div>
        </a>
      {% endblock %}
      </div>
    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

      <div class="container clearfix">
          <div class="col_half">
            Copyrights &copy; 2015 - 2020<br>
            <div class="copyright-links"><a href="#">Slimexpert</a></div>
          </div>
          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
            <div class="clear"></div>
            <i class="icon-envelope2"></i> info@zextel.ru <span class="middot">&middot;</span> <i class="icon-headphones"></i> +7 (812) 4485323
          </div>
        </div>
      </div><!-- #copyrights end -->
    </footer><!-- #footer end -->
  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
  =============================================-->
  <script src="https://slimexpert.github.io/zextel/static/js/jquery.js"></script>
  <script src="https://slimexpert.github.io/zextel/static/js/plugins.js"></script>

  <!--Footer Scripts
  =============================================-->
  <script src="https://slimexpert.github.io/zextel/static/js/functions.js"></script>

<!-- Скрипт Dadata.ru-->
  <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.1.1/dist/js/jquery.suggestions.min.js"></script>
    <script>
      $("#address").suggestions({
        token: "db4016c650f3e48961a5039edf12415e244a9136",
        type: "ADDRESS",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
          console.log(suggestion);
        }
      });
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
   <script>
    $(function() {
      $('.jmp').mask('+7(000)000-00-00');
    });
   </script>


           <script type="text/javascript">
               document.umnicoWidgetHash = '38d1d8f16a6d518e946682172a4dd471';
               var x = document.createElement('script');
               x.src = 'https://umnico.com/assets/widget-loader.js';
               x.type = 'text/javascript';
               x.charset = 'UTF-8';
               x.async = true;
               document.body.appendChild(x);
           </script>

</body>
</html>
